# ==========================================
# Configuration de base Django
# ==========================================
DJANGO_DEBUG=False
DJANGO_SECRET_KEY="C3s5EKEHYFyf1oeyhm9MzPbBc2FGWRwW4fhVa9gz8Hjop3TniK-BuJqH_2Aoak9co0fb2QZaFk8w-Wwj7fq7YA"

# ==========================================
# Configuration Base de données (MongoDB)
# ==========================================
# Si lancé via docker-compose, l'URI est mongodb://mongodb:27017/
# Si lancé en local, l'URI est mongodb://localhost:27017/
MONGO_URI="mongodb://localhost:27017/"
MONGO_DB_NAME="akwabacheckid_db"

# ==========================================
# Configuration Authentification (JWT)
# ==========================================
JWT_SECRET_KEY="83SDQEevRIt9l_7PC_6tE4DTVPP5kFbH22RWmHrlQpPm6IfRhfg-87g2sIxc51WeggtQEHz7P7-xYwdjLc4p_Q"
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# ==========================================
# Configuration API Externe
# ==========================================
API_KEY_AKWABA="a7f3d2e9b1c84f6a2d5e8b3c7f1a4d9e2b6c8f3a1d7e4b2c9f5a3d8e1b6c4f7"
