django>=4.2
djangorestframework
django-cors-headers

# Core
numpy
Pillow
scikit-learn

# Vision
opencv-python-headless

# Deep learning
torch
torchvision

# OCR
easyocr
# paddlepaddle==2.6.2
# paddleocr==2.10.0
pytesseract
passporteye

# Face recognition
insightface
onnxruntime

# Detection
ultralytics

# Utils
albumentations
tqdm

# django>=4.2
# djangorestframework>=3.14.0
# django-cors-headers>=4.3.1
# numpy==1.24.3
# Pillow==10.1.0
# scikit-learn>=1.3.2
# opencv-python-headless==4.8.1.78
# torch==2.1.2
# torchvision==0.16.2
# easyocr>=1.7.1
# pytesseract>=0.3.10
# passporteye>=1.3.0
# insightface>=0.7.3
# onnxruntime>=1.16.3
# ultralytics>=8.0.220
# albumentations>=1.3.1
# tqdm>=4.66.1