django>=4.2
djangorestframework
django-cors-headers

# Core
numpy
Pillow
scikit-learn

# Vision
opencv-python-headless

# Deep learning
torch
torchvision

# OCR
# paddlepaddle==2.6.2
# paddleocr==2.10.0
pytesseract
passporteye
easyocr
pymongo

# Face recognition
insightface
onnxruntime

# Detection
ultralytics

# Utils
albumentations
tqdm